/*body {
    background: url("31.jpg") no-repeat center center fixed;
    background-size: 100% 100%;
    height: 100%;
    position: absolute;
    width: 100%;
    opacity: 0.9;
  }*/

  #imgLoading{
    src: url("default.gif");
  }

/*styling for the main card*/
.card {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 25%;
    height: 25%;
    transform: translate(-50%, -50%);
    border: 3px solid lightgray;
    display: inline-block;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    overflow-x: hidden;
    background-color: rgba(211, 211, 211, .5);
}
.welcome{
  color: lightcyan;
}

.createAccount{
    margin-top: 40%;
    margin-left: 45%;
}
.signupInput{
  display: block;
  width: 50%;
  text-align: center;
  height: 38px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: black;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  background-color: rgba(255,255,255, 1);
}
/*input email and password box*/
.emailInput , .psswdInput {

  display: block;
  width: 100%;
  text-align: center;
  height: 38px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: black;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  background-color: rgba(255,255,255, 1);
}
/*sign up heading in the card*/
.signupHeading{
  text-align: center;
  color: black;
  position: absolute;
  top: 12%;
  left: 37%;
}
.register{
  padding-top: 0.5%;
  text-align: center;
  width: 25%;
  height: 5%;
  position: fixed;
  left: 39%;
  top: 55%;
  opacity: 0.85;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  background-color: rgba(249,249,249,.75);
}
.signupHeadingCreate{
    color: black;
    font-size: 200%;
    position: absolute;
    left: 40%;
    /*margin-left:48%;*/
}
/*signup and signin buttons*/
.operations{
    margin-left: 4%;
}
#signinbutton{
    width: 45%;
    display: inline-block;
}

#interests{
    position: absolute;
    top: 65px;
    width: 95%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    background-color: rgba(249, 249, 249, .75);
    color: black;
    /*lightgoldenrodyellow*/
}
.sidebar-element{
  background-color: Gainsboro ;
  width : 15%;
  height: 88vh;
  min-height: 100%;
  overflow:hidden;
  position: relative;
  top: -50px;
  text-align : center;
}


.sidenav {
    height: 50%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenavbar {
    height: 90%;
    width: 13%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 10%;
    background-color: #022f5a;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10%;
}


.sidenavbar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s
}


.sidenavbar a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenavbar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.mainbody {
  left :15%;
}
.notFound{
  color: red;
}


.library {
  text-align: center;
  position: relative;
  padding-top: 10%;
  left: 15%;
  width: 83%;
}

.lib-header {
  position: fixed;
  top: 15%;
  padding-left: 20%;
  z-index: 1;
}

.lib-header-load {
  position: fixed;
  top: 15%;
  padding-left: 20%;
  z-index: -1;
}

.lib-content {
  position: relative;
  padding-top: 15%;
}

.addbook {
  position: relative;
  right: 52%;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}

}

.login{
  text-align: center;
  width: 32%;
  position: fixed;
  left: 35%;
  top: 25%;
  opacity: 0.85;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  background-color: rgba(249,249,249,.75);
}

.landingpage {
  overflow: hidden;
}

.required {
  color: red;
  font-size: 125%;
}

@media screen and (max-width: 500px) {

  .login{
    width: 100%;
    left: 0;
  }
  .landing-text .header-main{
    font-size: 150%;
    left:0%;
    top: 14%;
  }
  .subscript{
    font-size: 10%;
    right:4%;
  }
  div.search-bar{
    left:20%;
  }
  input.form-control{
    width:50%;
    left: 10%;
  }
  button#searchSubmit{
    width:100%;
    left: 10%;
  }
  div.secondPage p.quote{
    font-size: 100%;
  }
  .sell-img {
    left:2%;
  }
  .buy-img {
    left:35%;
  }
  .rent-img {
    left:65%;
  }
  .free-img{
    left:90%;
  }
  nav.navbar{
    width:100%;
  }
  /* reset password page made responsive*/
  div#resetpass{
    top:10%;
  }
}
.landing-text{
  text-align: center;
  color: white;
  position: relative;
  top : 5%;
}
.header-main {
  font-size: 250%;
  position: fixed;
  top: 20%;
  left: 25%;
}

.subscript {
  font-size: 40%;

}

.search-bar {
  position: fixed;
  top :50%;
  left: 40%;
}

.scroll {
  background-image: url('22.jpg');
  width: 100%;
  height: 50%;
  position: fixed;
  top: 40%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.sell-img {
  position: fixed;
  top: 80%;
  left: 10%;
}

.buy-img {
  position: fixed;
  top: 80%;
  left: 35%;
}
.rent-img {
  position: fixed;
  top: 80%;
  left: 60%;
}
.free-img {
  position: fixed;
  top: 80%;
  left: 80%;
}

.secondPage {
  text-align: center;
  background-image: url('33.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
  background-position: center;
  background-color: black;
  color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
}

.text-landing {
  width: 50%;
  height: 80%;
  top: 5%;
  position: absolute;
  left: 27%;
  opacity: 0.8;
}

.navheader {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.dash-table {
  position: relative;
  left: 8%;
  width: 80%;
  padding-top: 10%;
  z-index: -1;
}
@media screen and (max-width: 500px) {
  .login{
    width: 100%;
    top: 100%;
    left: 0;
  }
}

@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: .2;
    }
}

.saving span {
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.saving span:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .2s;
}

.saving span:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .4s;
}
.col-lg-10{
  color: black;
}
.profile{
  text-align: center;
  width: 50%;
  position: fixed;
  left: 35%;
  opacity: 0.85;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: rgba(201, 201, 201, .5);
}
.col-lg-2 control-label{
  color: black;
}
.interests{
  border: 3px solid grey;
  color: black;
  border-radius: 5px; /* 5px rounded corners */
}

.addbook {
  width: 100%;
  left: 0;
  padding-top: 5%;
}

.top-tabs {
  position: fixed;
  padding-top: 5%;
  width: 100%;
  left: 15%;
}
/* profile page ui*/
div#updateprofile{
  margin-top: 6%;
  left: 30%;
  position: absolute;
}
.panel-warning {
    width: 65%;
    word-wrap: break-word;
}

.overlay{
    position:fixed;
    left: 0;
    width:100%;
    height:100%;
    background-color: black;
    background-color:rgba(0,0,0,.55);
}
.pageloading{
  margin-left: 45%;
  margin-top: 25%;
  color: whitesmoke;

}
.panel-danger {
    width: 65%;
    word-wrap: break-word;
}

.panel-primary {
    width: 65%;
    word-wrap: break-word;
}

.glyphicon {
  float: right;
  padding-left: 1%;
}

.share {
  float: right;
  padding-right: 1%;
}

.myadds {
  left: 15%;
    text-align: center;
    position: relative;
    width: 83%;
    color: black;
}

.adds-table {
  position: relative;
  left: 8%;
  width: 80%;
  padding-top: 15%;
  z-index: -1;
}
.allBooks{
  position: relative;
  left: 15%;
  padding-top: 10%;
}
