body {
    background: url("books5.jpg") no-repeat center center fixed;
    background-size: 100% 100%;
    height: 100%;
    position: absolute;
    width: 100%;
  }

/*styling for the main card*/
.card {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 25%;
    height: 40%;
    transform: translate(-50%, -50%);
    border: 3px solid lightgray;
    display: inline-block;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    overflow-x: scroll;
    background-color: rgba(211, 211, 211, .5);
}

.createAccount{
    margin-top: 40%;
    margin-left: 45%;
}
/*input email and password box*/
.emailInput , .psswdInput {
  display: block;
  width: 23%;
  height: 38px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: black;
  /*background-color: #ffffff;*/
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    background-color: rgba(255,255,255, 1);
}
/*sign up heading in the card*/
.signupHeading{
  color: black;
  margin-left: 8%;
}
.signupHeadingCreate{
    color: black;
    font-size: 200%;
    margin-left:48%;
}
/*signup and signin buttons*/
.operations{
    margin-left: 4%;
}
#signinbutton{
    width: 15%;
}

#interests{
    background-color: rgba(211, 211, 211, .5);
    color: black;
    /*lightgoldenrodyellow*/
}
.sidebar-element{
  background-color: Gainsboro ;
  width : 15%;
  height: 88vh;
  min-height: 100%;
  overflow:hidden;
  position: relative;
  top: -50px;
  text-align : center;
}


.sidenav {
    height: 50%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenavbar {
    height: 100%;
    width: 200px;;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #022f5a;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenavbar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s
}


.sidenavbar a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenavbar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.mainbody {
  position: fixed;
  right: 0;
}
.notFound{
  color: red;
}
