<style type="text/css">
  a:hover {
    cursor:pointer;
  }
</style>
<div  ng-controller = "DashCtrl">
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Book Share</a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
       <div class="form-group">
         <input class="form-control" placeholder="Search" type="text">
       </div>
       <button type="submit" class="btn btn-default">Submit</button>
     </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-click="PostRequests()">Post requests</a></li>
        <li><a ng-click="MyAdds()">My adds</a></li>
        <li><a style="cursor:pointer"   ng-click="openNav()">Profile</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="Sidenavbar" class="sidenavbar">
  <a ui-sref="/dashboard">Catergories</a>
</div>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>
  <a ui-sref="/dashboard">My profile</a>
  <a href="#">My library</a>
  <a href="#">Request messages</a>
</div>
<div class="mainbody">
  <div  ng-if="isDash">
    <div class="container">
      <ul class="nav nav-tabs row">
        <li class="col-sm-6"><a data-toggle="tab" ng-click="onRecomAdds()">Recommended Adds</a></li>
        <li class="col-sm-6"  ><a data-toggle="tab" ng-click="onRecomReq()">Recommeneded Requests</a></li>
      </ul>
    <div ng-if="isAdds">
      hello
    </div>
    <div ng-if="isReq">
      hello working!!!!!!!!!
    </div>
    </div>
  </div>
  <div ng-if="isMyAdds">
      My adds
  </div>
  <div ng-if="isPostRequests">
      post requests
  </div>
</div>
</div>
