
<h1 class="signupHeading">Sign in to Book Share </h1>
<div class="jumbotron login" data-ng-init="onload()">
  <div class="form-group">
    <input id="email" class="emailInput" type="text" placeholder="Email" class="form-control">
  </div>
  <div class="form-group" id="onsignin" ng-model="emailregistered" ng-show="emailregistered===true">
    <input id="password" class="psswdInput" type="password" placeholder="Password" class="form-control">
    <div class="notFound" ng-show="userNotFound == true"> Oops!! Username or Password is incorrect </div> <br/>
    <div class="notFound" ng-show="emailNotVerified == true"> Please Verify your email first </div> <br/>
    <a href="" target="_blank" ng-click="sendResetLink()" >forgot password? </a> <br/>
  </div>
  <p><button id="signinbutton" class="btn btn-info btn-sm" ng-click="signinUser()" value="Next"><b>{{buttonVal}}</b> <span ng-show="loggingIn==true" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></button>
</p>
</div>
<div class="register">
  New to Book Share? <a href="" ng-click="signupUser()"> Create an account </a>
</div>

<!--<script>
  (function () {
    var Message;
    Message = function (arg) {
        this.text = arg.text, this.message_side = arg.message_side;
        this.draw = function (_this) {
            return function () {
                var $message;
                $message = $($('.message_template').clone().html());
                $message.addClass(_this.message_side).find('.text').html(_this.text);
                $('.messages').append($message);
                return setTimeout(function () {
                    return $message.addClass('appeared');
                }, 0);
            };
        }(this);
        return this;
    };
    $(function () {
        var getMessageText, message_side, sendMessage;
        message_side = 'right';
        getMessageText = function () {
            var $message_input;
            $message_input = $('.message_input');
            return $message_input.val();
        };
        sendMessage = function (text) {
            var $messages, message;
            if (text.trim() === '') {
                return;
            }
            $('.message_input').val('');
            $messages = $('.messages');
            message_side = message_side === 'left' ? 'right' : 'left';
            message = new Message({
                text: text,
                message_side: message_side
            });
            message.draw();
            return $messages.animate({ scrollTop: $messages.prop('scrollHeight') }, 300);
        };
        $('.send_message').click(function (e) {
            return sendMessage(getMessageText());
        });
        $('.message_input').keyup(function (e) {
            if (e.which === 13) {
                return sendMessage(getMessageText());
            }
        });
        // sendMessage('Hello Philip! :)');
        // setTimeout(function () {
        //     return sendMessage('Hi Sandy! How are you?');
        // }, 1000);
        // return setTimeout(function () {
        //     return sendMessage('I\'m fine, thank you!');
        // }, 2000);
    });
}.call(this));
  </script>-->

