<div class="card">
  <div class="container">
    <h4 class="signupHeading"><b>Sign In </b></h4>
  	<input id="email" class="emailInput" type="text" placeholder="Email"> <br/>
		<div id="onsignin" ng-model="emailregistered" ng-show="emailregistered===true">
			<input id="password" class="psswdInput" type="password" placeholder="Password">
      <div class="notFound" ng-show="userNotFound == true"> Oops!! Username or Password is incorrect </div> <br/>
			<a href="" target="_blank" ng-click="sendResetLink()" style="color:black;"><b>forgot password.?</b> </a> <br/> <br/>
		</div>
		<div class="operations">
			<button id="signinbutton" class="btn btn-info" ng-click="signinUser()" >Next</button>
		</div>
  </div>
</div>
<div class="createAccount">
	<button id="signupbutton" class="btn btn-success" ng-click="signupUser()">Create Account</button><br/><br/>
</div>
