<div class="continer-fluid landingpage">
  <nav class="nav-head">
  <div class="container-fluid">


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a ng-click="goBack()">BookShare</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a style="cursor:pointer" ng-click="library()">About Us</a></li>
        <li><a style="cursor:pointer" ng-click="MyAdds()">Login</a></li>
        <li><a style="cursor:pointer"   ng-click="openNav()">Signup</a></li>
      </ul>
    </div>
  </div>
</nav>
</div>
