<div class="continer-fluid" ng-controller="LandCtrl" >
  <nav class="navbar navbar-inverse" style="position:absolute;width:100%;z-index:1;left:0;">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a ng-click="goBack()">BookShare</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a style="cursor:pointer" ng-click="library()">About Us</a></li>
        <li><a style="cursor:pointer" ng-click="login()">Login</a></li>
        <li><a style="cursor:pointer"   ng-click="signup()">Signup</a></li>
      </ul>
    </div>
  </div>
</nav>



<div class="secondPage">
  <div class="sell-img">
    <img src="app/css/21.png" width="40%" />
  </div>
  <div class="buy-img">
    <img src="app/css/23.png" width="40%" />
  </div>
  <div class="rent-img">
    <img src="app/css/24.png" width="40%" />
  </div>
  <div class="free-img">
    <img src="app/css/25.png" width="60%" />
  </div>
  <div class="jumbotron">
    <p class="quote welcome"> <br> Shout out to <br>
     All Boys and Girls,<br>
     All Nerds and Studs,<br>
    All Students and Teachers,<br>
    All Bookworms and Bibliophiles out there!!!<br>
    You need a book?? we gotcha.<br>
     U need to sell a book, we gotcha<br>
     U need to rent a book,<br>
    Well u guessed it, we gotcha.<br><br></p>
    <p><a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" style="background-color:#3F51B5" ng-click="signup()">Register</a></p>
  </div>

</div>

</div>
