<div class="continer-fluid landingpage" ng-controller="LandCtrl" >
  <nav class="navbar navbar-inverse" style="position:fixed;width:100%;z-index:1;left:0;">
  <div class="container-fluid">


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a ng-click="goBack()">BookShare</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a style="cursor:pointer" ng-click="library()">About Us</a></li>
        <li><a style="cursor:pointer" ng-click="login()">Login</a></li>
        <li><a style="cursor:pointer"   ng-click="signup()">Signup</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="landing-text">
  <div class="header-main">
    YOU  CAN FIND MAGIC WHERE EVER YOU LOOK <br>
    SIT BACK RELAX , ALL YOU NEED IS A BOOK
    <span class="subscript"> - DR. SEUS</span>
  </div>

</div>
<div class="search-bar">
<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
   <input class="form-control" id="focusedInput" value="Search" type="text">
 </div>
 <button type="submit" id="searchSubmit" class="btn btn-info">Submit</button>
</form>
</div>
<div class="sell-img">
  <img src="app/css/21.png" width="40%" />
</div>
<div class="buy-img">
  <img src="app/css/23.png" width="40%" />
</div>
<div class="rent-img">
  <img src="app/css/24.png" width="40%" />
</div>
<div class="free-img">
  <img src="app/css/25.png" width="60%" />
</div>
<div class="secondPage">
  <div class="jumbotron text-landing">
    <p class="quote">  Shout out to <br>
     All Boys and Girls,<br>
     All Nerds and Studs,<br>
    All Students and Teachers,<br>
     All Bookworms and Bibliophiles out there!!!<br>
    You need a book?? We gotcha.<br>
     U need to sell a book, we gotcha<br>
     U need to rent a book,<br>
    Well u guessed it, we gotcha.<br>
    (If u didn’t get that, please get your head tested by a Doc XP)<br></p>
    <p><a class="btn btn-primary btn-lg" ng-click="signup()">Register</a></p>
  </div>

</div>

</div>
