<div id="resetpass" class="jumpotron login">
    <div class="container-fluid">
        <h1 class="signupHeading"><b>Reset Here</b></h1>
        <div class="form-group">
          <input id="resetpassword" class="emailInput" type="password" placeholder="New Password" /><br/>
          <input id="confirmrepassword" class="emailInput" type="password" placeholder="Confirm New Password" /><br/>
        </div>
        <div class="form-group">
            <button id="signinbutton" class="btn btn-info" ng-click="resetPass()" >Reset</button>
        </div>
    </div>
</div>
