<div ng-controller="SignCtrl">
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
           <p>
            <a style="color:black;" href="/">
              <span style="color:black;" class="glyphicon glyphicon-arrow-left"></span>
              Back To Home
           </a>
      </p>
        </li>
      </ul>
    </div>
  </div>
</nav>

<form class="form-horizontal">
  <div class="signupHeadingCreate">Sign-Up</div>
  <fieldset id="interests">
    <div class="form-group"  ><br/>
      <label class="col-lg-2 control-label" >Name</label>
      <div class="col-lg-10">
        <input class="form-control" id="inputName" placeholder="What can i call you ? " type="text" required >
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" >Email</label>
      <div class="col-lg-10">
        <input class="form-control" id="inputEmail" placeholder="Where can i send you a mail ? " type="text">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input class="form-control" id="inputPassword" placeholder="Password" type="password">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Confirm Password</label>
      <div class="col-lg-10">
        <input class="form-control" id="inputRePassword" placeholder="RePassword" type="password">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" >Place</label>
      <div class="col-lg-10">
        <input class="form-control" id="inputPlace" placeholder="Where do you live ?" type="text">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">Are you - </label>
      <div class="col-lg-10">
        <div class="radio">
          <label>
            <input name="optionsRadios"  value="Student" checked="" type="radio" ng-model = "radioValue" ng-change="onChoiceSelect()">
            Student
          </label>
        </div>
        <div class="radio">
          <label>
            <input name="optionsRadios" value="Professional" type="radio" ng-model = "radioValue" ng-change = "onChoiceSelect()">
            Professional
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label"> {{radioValue}} Details :</label>
      <div class="col-lg-10">
      </div>
    </div>
    <div ng-show="isStudent">
      <div class="form-group">
        <label class="col-lg-2 control-label" >College </label>
        <div class="col-lg-10">
          <input class="form-control" id="inputCollege" placeholder="What college are you from? " type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label" > Branch </label>
        <div class="col-lg-10">
          <input class="form-control" id="inputBranch" placeholder="What branch do you belong to ? " type="text">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="col-lg-2 control-label"> Semester </label>
        <div class="col-lg-10">
          <input class="form-control" id="inputSem" placeholder="Your semester" type="text">
        </div>
      </div>
    </div>
    <div ng-show="isProfessional">
      <div class="form-group">
        <label class="col-lg-2 control-label" > Nature of job </label>
        <div class="col-lg-10">
          <input class="form-control" id="inputjob" placeholder="What do you do ? " type="text">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">What are your intrests ?</label>
      <label class="col-lg-12 control-label"></label>
      <div class="col-lg-4" >
        <div class="radio" ng-repeat = "type in intrests">
          <label><b>
            <input
            value="{{type.category}}"
            name = "{{type.category}}"
            type="checkbox"
            ng-model="ischecke"
            ng-change="onIntrestSelect(type.category)">
            {{type.category}}
          </b>
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary" ng-click="onSubmitButton()">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
</div>
