<style type="text/css">
  a:hover {
    cursor:pointer;
  }
</style>

<div ng-controller="SignCtrl">
<form class="form-horizontal">
  <div class="signupHeadingCreate">Join Book Share</div>
  <h6 style=" position: absolute;left:35%;top:4%;font-size:120%;">The best place to buy, sell, and rent books.</h6> <br>
  <a style="color:black;" ng-click="backToHome()">
      <span style="color:black;font-size:30px;" class="glyphicon glyphicon-home"></span>
  </a>
  <fieldset id="interests">
    <div class="form-group"  ><br/>
      <label class="col-lg-2 control-label" >Name <span class="required">*<span></label>
      <div class="col-lg-10">
        <input class="signupInput" id="inputName" placeholder="What can I call you ? " type="text" required >
      </div>
    </div>
    <div class="form-group"  ><br/>
      <label class="col-lg-2 control-label" >Phone Number <span class="required">*</span></label>
      <div class="col-lg-10">
        <input class="signupInput" id="inputNumber" placeholder="Where can I text you.? " type="number" required >
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" >Email <span class="required">*</span></label>
      <div class="col-lg-10">
        <input class="signupInput" id="inputEmail" placeholder="Where can I send you a mail ? " type="email" required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password <span class="required">*</span></label>
      <div class="col-lg-10">
        <input class="signupInput" id="inputPassword" placeholder="Password" type="password" required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Confirm Password <span class="required">*</span></label>
      <div class="col-lg-10">
        <input class="signupInput" id="inputRePassword" placeholder="Confirm Password" type="password" required>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" >Place</label>
      <div class="col-lg-10">
        <input class="signupInput" id="inputPlace" placeholder="Where do you live ?" type="text">
      </div>
    </div>

    <div class="form-group" required>
      <label class="col-lg-2 control-label">What Are You? <span class="required">*</span></label>
      <div class="col-lg-10">
        <div class="radio">
          <label>
            <input name="optionsRadios"  value="Student" checked="" type="radio" ng-model = "radioValue" ng-change="onChoiceSelect()">
            Student
          </label>
        </div>
        <div class="radio">
          <label>
            <input name="optionsRadios" value="Professional" type="radio" ng-model = "radioValue" ng-change = "onChoiceSelect()">
            Professional
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label"> {{radioValue}}</label>
      <div class="col-lg-10">
      </div>
    </div>
    <div ng-show="isStudent">
      <div class="form-group">
        <label class="col-lg-2 control-label" >College </label>
        <div class="col-lg-10">
          <input class="signupInput" id="inputCollege" placeholder="Which college are you from? " type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label" > Branch </label>
        <div class="col-lg-10">
          <input class="signupInput" id="inputBranch" placeholder="Which branch do you belong to ? " type="text">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="col-lg-2 control-label"> Semester </label>
        <div class="col-lg-10">
          <input class="signupInput" id="inputSem" placeholder="Your semester .?" type="text">
        </div>
      </div>
    </div>
    <div ng-show="isProfessional">
      <div class="form-group">
        <label class="col-lg-2 control-label" > Nature of job </label>
        <div class="col-lg-10">
          <input class="signupInput" id="inputjob" placeholder="What do you do ? " type="text">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">Your Interests ?</label>
      <label class="col-lg-12 control-label"></label>
      <div class="col-sm-4">
        <div class="radio" ng-repeat = "type in intrests">
          <label style="position:relative;left:40%;"><b>
            <input
            value="{{type.category}}"
            name = "{{type.category}}"
            type="checkbox"
            ng-model="ischecke"
            ng-change="onIntrestSelect(type.category)">
           {{type.category}}
          </b>
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-success" ng-click="onSubmitButton()" style="position:relative;left:40%;">Join</button>
      </div>
    </div>
  </fieldset>
</form>
</div>
